@charset "utf-8";


.head{
    margin-left: 7px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    font-weight: bold;
    color: gold;
}

.chat{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.chat2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 350px;
}

